html {
  box-sizing: border-box !important;
  body {
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    .page {
      width: 100%;
      height: 100%;
    }
  }
}

*,
*:before,
*::after {
  box-sizing: border-box !important;
}
