.register-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    @extend %flex;
  }
  
  .register-window {
    flex-basis: 20%;
    padding: 3rem 1rem;
    background-color: white;
    box-shadow: 0px 0px 0.7rem 0px #99999991;
    @extend %flex;
    label {
      text-align: center;
    }
  }
  
  .register-form {
    @extend %flex;
    .register-input {
      flex-basis: 80%;
      display: flex;
      justify-content: space-between;
      label {
        font-weight: 600;
      }
      input {
        flex-basis: 80%;
      }
    }
  }
  
  .sign {
    flex-basis: 80%;
    display:flex;
    justify-content: flex-end;
    margin: 1rem 0rem;
  }
  
  %flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  